<p-button
        icon="pi pi-upload"
        (click)="showDialog()"
        class="p-button-upload"
>
    Upload photo
</p-button>

<p-dialog
        [(visible)]="displayUploadDialog"
        [modal]="true"
        header="Upload Photo"
        [style]="{ width: '500px'}"
        [contentStyle]="{ 'background-color': '#ffffff', padding: '40px' }"
>
    <div class="dialog-content">
        <div class="custom-upload-container">
            <label for="file-upload" class="custom-file-label">
                <i class="pi pi-upload"></i> Select Image
            </label>
            <input
                    id="file-upload"
                    type="file"
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    class="hidden-file-input p-button"
            />
            <p *ngIf="selectedFileName" class="file-name">
                {{ selectedFileName }}
            </p>
            <div *ngIf = "this.selectedFile != null && this.selectedFile != undefined">
                <p>Select visibility:</p>
                <p-dropdown                       [style]="{'min-width' : '170px'}"
                                                  class="visibility-dropdown" [style.margin-bottom] = "'10px'"  [(ngModel)]="this.selectedVisibility" [options]="this.userGroups" optionLabel="name" appendTo="body"></p-dropdown>
            </div>
            
                
        </div>
    </div>
    <ng-template pTemplate="footer">
        <div [style]="{'display': 'flex', 'justify-content': 'space-between'}">
           
            <p-button
                    icon="pi pi-times"
                    class="p-button-close p-button-danger"
                    (click)="displayUploadDialog = false"
                    [style]="{'background-color' : '#D22B2B', 'border-color' : '#D22B2B'}"
            >Close</p-button>
            <p-button *ngIf="this.selectedFile != null && this.selectedFile != undefined && this.selectedVisibility != null"
                      icon="pi pi-upload"
                      class="p-button-upload"
                      (click)="onUpload($event)"
                      [style]="{'background-color' : 'green', 'border-color' : 'green'}"

            >Upload photo</p-button>
        </div>
    </ng-template>
</p-dialog>
