<p-button
        icon="pi pi-upload"
        (click)="showDialog()"
        class="p-button-upload"
>
    Upload photo
</p-button>

<p-dialog
        [(visible)]="displayUploadDialog"
        [modal]="true"
        header="Upload Photo"
        [style]="{ width: '500px'}"
        [contentStyle]="{ 'background-color': '#ffffff', padding: '40px' }"
>
    <div class="dialog-content">
        <div class="custom-upload-container">
            <label for="file-upload" class="custom-file-label">
                <i class="pi pi-upload"></i> Select Image
            </label>
            <input
                    id="file-upload"
                    type="file"
                    (change)="onFileSelected($event)"
                    accept="image/*"
                    class="hidden-file-input"
            />
            <p *ngIf="selectedFileName" class="file-name">
                {{ selectedFileName }}
            </p>
            <div *ngIf = "this.selectedFile != null && this.selectedFile != undefined">
                <p>Select visibility:</p>
                <p-dropdown [style.margin-bottom] = "'10px'"  [(ngModel)]="this.selectedVisibility" [options]="this.userGroups" optionLabel="name" appendTo="body"></p-dropdown>
            </div>
            <p-button *ngIf="this.selectedFile != null && this.selectedFile != undefined && this.selectedVisibility != null"
                    icon="pi pi-upload"
                    class="p-button-upload"
                    (click)="onUpload($event)"
            >Upload photo</p-button>
                
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button
                icon="pi pi-times"
                class="p-button-close p-button-danger"
                (click)="displayUploadDialog = false"
        >Close</p-button>
    </ng-template>
</p-dialog>
