.auth-wrapper {
    text-align: center;
    margin-bottom: 0;
}

.auth-title {
    font-size: 28px;
    font-weight: bold;
    color: #444444;
    margin-bottom: 10px; /* Reduces the gap between title and container */
    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    background: #f7f7f7; 
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

mat-label {
    font-size: 14px;
    color: #555555;
    font-weight: 600;
}

input {
    font-size: 16px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #6a48b4; 
    box-shadow: 0px 0px 5px rgba(106, 72, 180, 0.3);
    outline: none;
}

mat-error {
    font-size: 13px;
    color: #e63946;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
}

button[type="submit"] {
    background-color: #6a48b4; 
    color: #ffffff;
    box-shadow: 0px 5px 15px rgba(106, 72, 180, 0.3);
}

button[type="submit"]:disabled {
    background-color: #a59fb0;
    color: #e0ddea;
    cursor: not-allowed;
    box-shadow: none;
}


button[type="submit"]:hover {
    background-color: #4b3394;
    box-shadow: 0px 7px 20px rgba(75, 51, 148, 0.4);
    transform: translateY(-2px);
}

button[color="accent"] {
    background-color: #e0e0e0; 
    color: #6a48b4;
    margin-top: 15px;
    box-shadow: 0px 5px 15px rgba(106, 72, 180, 0.1);
}

button[color="accent"]:hover {
    background-color: #d6d6d6; 
    box-shadow: 0px 7px 20px rgba(106, 72, 180, 0.2);
    transform: translateY(-2px);
}

input::placeholder {
    color: #9e9e9e;
    font-style: italic;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle, #eaeaea, #dcdcdc); 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, label {
    color: #333333;
    font-weight: 500;
}

@media (max-width: 768px) {
    .container {
        padding: 30px;
    }

    button {
        padding: 12px;
        font-size: 15px;
    }
}
