<div class="photo-gallery-container">
    <h2 *ngIf = "this.routeType == 'dailyPhoto'">Friends Photos</h2>
    <h2 *ngIf = "this.routeType == 'myPhoto'">My Photos</h2>

    <p-progressSpinner *ngIf="loading"></p-progressSpinner>

    <div *ngIf="!loading && photos.length > 0" class="photo-grid">
        <p-card *ngFor="let photo of photos" class="photo-card">
            <img [src]="'data:image/jpeg;base64,' + photo.blob" alt="Photo" />
            <p-footer>
                <small>Uploaded by <b>{{ photo.username }}</b> on {{ photo.uploadTime | date: 'medium' }}</small>
            </p-footer>
        </p-card>
    </div>

    <p class="no-data-message" *ngIf="!loading && photos.length === 0">No recent photos available.</p>
</div>
