.photo-gallery-container {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr; /* Single-column layout */
    gap: 20px;
    margin-top: 20px;
    justify-items: center;
}

.photo-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.error-message {
    color: red;
    font-weight: bold;
}


h2 {
    font-size: 2.3rem;
    margin-top: 30px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    
}

.no-data-message {
    font-size: 1.3rem;
    color: #666666;
    font-style: italic;
    text-align: center;
    margin: 100px 0;
}
