<p-toolbar class="header-toolbar">
        <div class="container-items">
            <div class="p-toolbar-group-left">
                <p-button icon="pi pi-power-off" class="p-button-danger disconnect-button" (click)="goToFriendsList()">Friends list</p-button>
                <app-photo-upload></app-photo-upload>
                <p-button icon="pi pi-power-off" class="p-button-danger disconnect-button" (click)="goToFriendsList()">My 24h Photos</p-button>
                <p-button icon="pi pi-power-off" class="p-button-danger disconnect-button" (click)="goToFriendsPhotos()">Daily Photos</p-button>
            </div>
            <div class="p-toolbar-group-right">
                <p-button icon="pi pi-power-off" class="p-button-danger disconnect-button" (click)="disconnect()">Disconnect</p-button>
            </div>
        </div>
</p-toolbar>
