.header-toolbar {
    width: 100%;
    background: #f5f5f5; 
    color: #333333; 
    padding: 15px 30px;
    display: block;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}

.container-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.p-toolbar-group-left {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.username-display {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333333;
}

.p-toolbar-group-right {
    margin-right: 20px;
}

.disconnect-button {
    font-size: 1rem;
    background-color: #6a48b4;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(75, 51, 148, 0.4);
    transition: all 0.3s ease-in-out;
}

