/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.p-dialog {
    background-color: #ffffff !important;
}


.p-dialog-close-button {
    margin: 20px;
}


.p-dialog-header {
    font-size: 1.8rem;
    margin-left: 40px;
    color: #333333;
    font-weight: 500;
    text-align: left;
}

.p-dialog .p-dialog-footer button {
    font-size: 1rem;
    padding: 12px 15px;
    margin: 0 20px 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.p-button.p-button-icon-only {
    width: fit-content;
    padding: 15px 20px;
}

.p-button.p-button-icon-only span {
    margin-left: 5px;
}